{lib_dirs, []}.
{erl_first_files, []}.
{require_otp_vsn, "R14"}.
{erl_opts, [{d, no_debug},
            {src_dirs, ["src", "tests"]},
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_untyped_record, debug_info,
            {i, "deps/elog/include"}, {i, "deps/socketio/include"}, {i, "deps/misultin/include"}]}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*", "rel/*"]}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, [{elog, "\.*", {git, "git://github.com/inaka/elog.git", "master"}},
        {socketio, "\.*", {git, "git://github.com/inaka/socketio.git", "master"}},
        {itweet, "\.*", {git, "git://github.com/inaka/itweet.git", "master"}}
  
]}.
{edoc_opts, [{doclet, edown_doclet}]}.  %% what is this? [cd]
{sub_dirs, []}.
