[{socketio, [{backlog, 128000},
             {max_connections, 999999}]},
 {edit, [{twitter_streamer_user, "mogosto"},
         {twitter_streamer_password, "m0g0st0!"}]},
 {elog, [{level, info},
         {logger, {elogger_console, []}}
        ]},
 {sasl, [{errlog_type, all},
         {sasl_error_logger, {file, "logs/rpcio.sasl.log"}}]}].
