body {
	font-family: arial, sans-serif;	
	/*background-color: #5CB3FF;*/
	background-color: #ADDFFF;
	/*background-image:url('images/background.png');*/
}

hr {
	height: .5em;
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
#boxes #dialog {
  width:375px; 
  height:203px;
  padding:40px;
  background-color:#ffffff;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

#login_info h2 {
	font-size: 24pt;
	font-spacing:-1px;
}

#login_logo {
	position: absolute; top: -20px; left:-20px;
}

#twitter_login {
	text-align:center;
}

#twitter_login_logo {
	height: 75px;
	width: 75px;
}
.mainbody {
	min-height:800px;
	height:auto !important;
}

/* Generic page styling */
.logo {
	position: absolute; top: 10px; left:5px;
}

#tagline {
	position: absolute; top: 15px; left:275px;
}

#heading {
	font-size:24pt;
}

#header {
	min-height:57px;
}

/* Document page styling */
#document_title {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 32pt;
	vertical-align: top;
	width: 940px;
}
.documentheader {
	
}

.documentbody {
	
}

.documentfooter {
	
}

/* User side bar styling */
#userlist {
	background-color: white;
	min-height:520px;
	max-height:520px;
	height:auto !important;
	-moz-border-radius: 7px;
  	border-radius: 7px;
  	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

/* Twitter side bar styling */

.twittersidebar {
	
}

#tweets {
	background-color: white;
	min-height:400px;
	max-height:400px;
	height:auto !important;
	-moz-border-radius: 7px;
  	border-radius: 7px;
  	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}


