body {
	font-family: arial, sans-serif;	
	/*background-color: #5CB3FF;*/
	background-color: #ADDFFF;
	/*background-image:url('images/background.png');*/
}

hr {
	clear:both;
  	margin:0px;
	height:.1em;
}

#homepagemenu td {
	color:white;
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
#boxes #dialog {
  width:375px; 
  height:203px;
  padding:40px;
  background-color:#ffffff;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

#newsearchterm {
  width:375px; 
  height:203px;
  padding:40px;
  background-color:#ffffff;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

#twithash {
	font-size: 32pt;
	color:#98AFC7;
}

#searchterminput {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 32pt;
	vertical-align: top;
	width: 275px;
	characters:25;
}

#submitbutton {
	-moz-border-radius: 12px;
	border-radius: 12px;
	padding: 1em;
	background-color: #25587E;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	color: white;	
	text-decoration:none;
}

#submitbutton a {
	text-decoration:none;
	color:white;
	font-weight:bold;
}
#login_info h2 {
	font-size: 24pt;
	font-spacing:-1px;
  margin-top:20px;
}

#login_info h3 {
  font-family: Courier, Courier New;
}

#login_logo {
	position: absolute; top: -20px; left:-20px;
}

#twitter_login {
	text-align:center;
}

#twitter_login_logo {
	height: 75px;
	width: 75px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mainbody {
	min-height:800px;
	height:auto !important;
}

/* Generic page styling */
#logo {
  background-image: url('images/logo.png');
}

#tagline {
	position: absolute; top: 15px; left:275px;
}

#heading {
	font-size:24pt;
}

#header {
	min-height:57px;
}

/* Document page styling */
#document_title {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 32pt;
	vertical-align: top;
	width: 740px;
}

.span-14  #editor
{
  width: 540px;
}

#home_document_title {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 32pt;
  font-weight: bold;
	vertical-align: top;
	width: 700px;
  padding-left:120px;
  font-family: Courier, Courier New;
  color: #fff;
}

/* User side bar styling */
#userlist {
	padding:2px;
	background-color: white;
	min-height:520px;
	max-height:520px;
	height:auto !important;
	-moz-border-radius: 7px;
  	border-radius: 7px;
  	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.twitteritem {
	padding:2px;	
	vertical-align:middle;
}

#twitter_avatar {
	vertical-align:middle;
	align:left;
	height: 50px;
	width:50px;
}

#handle {
vertical-align: middle;
font-size: 10pt;
margin-left: 5px;
font-family: courier, courier new;
}


#searchbox {
	background-color: white;
	min-height:50px;
	max-height:200px;
	height:auto !important;
	-moz-border-radius: 7px;
  	border-radius: 7px;
  	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	margin-bottom:6px;
}

#searchtitle {
	float:left;
	vertical-align:top;
	padding:2px;
	color:#25587E;
	font-size:14pt;
}

#addterm {
  font-size:10pt;
	text-decoration:none;
	color:#25587E;	
}

#searchterms {
	float:left;
}

.searchterm {
	float:left;
	vertical-align:top;
	padding-left:8px;
	color:#98AFC7;
	font-size:10pt;
	font-weight:bold;
  width:95%
}

.tweet {
	float:left;
	vertical-align:top;
	padding:2px;
	min-height:80px;
	max-height:80px;
	color:#98AFC7;
}

#tweetmsg {
	vertical-align:top;
	font-size:9pt;
	font-spacing:-1px;
}

/* Twitter side bar styling */

#tweets {
	background-color: white;
	min-height:410px;
	max-height:410px;
	height:auto !important;
	-moz-border-radius: 7px;
  	border-radius: 7px;
  	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

a.docfooterlink
{
  text-decoration:none; 
  font-size:12px; 
  font-family:courier new;
}

